/* Created by: Noah Smith
* Created on: May 2023
* This CSS file defines the style for index.html
* ICS2O-Assign-05-PHP-AdditionTable
*/

body { 
	background: deeppink;
}

h6 {
  background: yellow;
}

p {
  background: yellow;
}